# 용량이 큰 데이터/산출물은 push 제외 (로컬에는 유지)
*.zip
*.pt
.ipynb_checkpoints/
25MAICON_기출/Problem#1/data/
25MAICON_기출/Problem#2/data/
25MAICON_기출/Problem#2/runs_p2/
25MAICON_기출/Problem#2/dataset_p2/
26_10_07/Problem3/data/
26_10_07/Problem1/catboost_info/

# 압축된 데이터 zip 은 추적(이름 지정). 원본 폴더는 위에서 제외됨
!25MAICON_기출/problem_1_data.zip
!25MAICON_기출/problem_2_data.zip
!25MAICON_기출/problem_3_data.zip
!26_10_07/Problem3/data.zip
